.loading-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  /* This is hardcoded since the theme is not initialized when initially loading */
  background-color: #f2f2f2;

  img {
    width: 140px;
  }
}
