.root {
  --c: no-repeat linear-gradient(var(--theme-background-brand) 0 0);

  height: 4px;
  background: var(--c), var(--c), white;
  background-size: 60% 100%;
  animation: animation 3s infinite;
}

@keyframes animation {
  0% {
    background-position:
      -150% 0,
      -150% 0;
  }

  66% {
    background-position:
      250% 0,
      -150% 0;
  }

  100% {
    background-position:
      250% 0,
      250% 0;
  }
}
