.root {
  position: absolute;
  top: 16px;
  left: 24px;
}

:global(.menu-item-wrapper):has(.logo) {
  margin: -8px;
  margin-right: 0;
  width: 48px !important;
  height: 48px;
  background: var(--theme-background-brand-secondary);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;

  .logo-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
  }
}
