.root {
  position: relative;
  display: flex;
  gap: 16px;
  flex-direction: column;
  background-color: var(--theme-background-primary);
  padding: 12px;
  box-sizing: border-box;
  aspect-ratio: 12 / 10;
  border-radius: 16px;
  box-shadow: 0 4px 6px 0 rgb(0 0 0 / 8%);
  transition: box-shadow var(--transition-duration);

  &:hover {
    box-shadow: 0 6px 8px 3px rgb(0 0 0 / 8%);
  }

  .bookmark {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-background-info);
    color: var(--theme-text-primary-inverse);
    border-radius: 4px;
    font-size: 16px;
  }

  .preview {
    display: grid;
    justify-content: center;
    align-items: center;
    aspect-ratio: 21 / 10;
    border-radius: 8px;

    .thumbnail {
      aspect-ratio: inherit;
      border-radius: inherit;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .info {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 8px;
    align-items: center;

    .card-buttons {
      display: flex;
      gap: 5px;
      align-items: center;

      .more-button-container {
        position: relative;
      }

      .more-menu {
        position: absolute;
        top: calc(100% + 8px);
        right: 0;
        z-index: 1;
      }
    }

    .title {
      font-weight: 600;
    }

    .description {
      grid-column: 1 / -1;
    }

    .title,
    .description {
      color: var(--theme-text-primary);
    }
  }
}
