:root {
  --transition-duration: 0.15s;
  --box-shadow: 0px 4px 4px -4px rgb(12 12 13 / 50%), 0px 16px 32px -4px rgb(12 12 13 / 50%);

  interpolate-size: allow-keywords;
}

html {
  overscroll-behavior-x: none;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

input,
select,
button,
textarea {
  font-family: inherit;
}
