services:
  client:
    build:
      dockerfile: ./Dockerfile.client
      args:
        VITE_API_URL: http://localhost:3000/api
        VITE_AUTH_PROVIDER: google
        VITE_GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
        VITE_BUG_REPORT_FORM_URL: ${BUG_REPORT_FORM_URL}
        VITE_AI_CHAT_EXPIRES_IN: ${AI_CHAT_EXPIRES_IN}
        VITE_WEBPAGE_LOADER_TIMEOUT: ${WEBPAGE_LOADER_TIMEOUT}
        VITE_STUN_SERVER: ${STUN_SERVER}
    ports:
      - '8080:80'

  server:
    build:
      dockerfile: ./Dockerfile.server
      target: server
    environment: &server_env
      DB_HOST: db
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      DB_USE_SSL: ${DB_USE_SSL}
      DATABASE_URL: postgresql://${DB_USER}:${DB_PASS}@db:5432/${DB_NAME}?schema=public
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      SECRET_KEY: ${SECRET_KEY}
      AWS_ENDPOINT_URL: ${AWS_ENDPOINT_URL}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_REGION: ${AWS_REGION}
      AWS_S3_BUCKET_NAME: ${AWS_S3_BUCKET_NAME}
      REDIS_HOST: redis
      EXTERNAL_SERVER_URL: ${EXTERNAL_SERVER_URL}
      VIEWER_URL: ${VIEWER_URL}
      VAULT_ADDR: ${VAULT_ADDR}
      VAULT_ROLE_ID: ${VAULT_ROLE_ID}
      VAULT_SECRET_ID: ${VAULT_SECRET_ID}
    ports:
      - 3000:3000
    depends_on:
      - db
      - redis

  worker:
    build:
      dockerfile: ./Dockerfile.server
      target: worker
    environment:
      <<: *server_env
      PUPPETEER_ARGS: '--no-sandbox,--disable-dev-shm-usage'
    depends_on:
      - db
      - redis

  db:
    image: postgres:17-alpine
    environment:
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - '${DB_PORT:-5432}:5432'

  redis:
    image: redis:7
    ports:
      - '${REDIS_PORT:-6379}:6379'

  localstack:
    container_name: '${LOCALSTACK_DOCKER_NAME:-localstack-main}'
    build:
      dockerfile: ./Dockerfile.localstack
    ports:
      - '127.0.0.1:4566:4566' # LocalStack Gateway
      - '127.0.0.1:4510-4559:4510-4559' # external services port range
    environment:
      # LocalStack configuration: https://docs.localstack.cloud/references/configuration/
      - DEBUG=${DEBUG:-0}
    volumes:
      - '${LOCALSTACK_VOLUME_DIR:-./localstack-volume}:/var/lib/localstack'
      - '/var/run/docker.sock:/var/run/docker.sock'

  vault:
    image: hashicorp/vault
    container_name: vault
    ports:
      - '8200:8200'
    environment:
      VAULT_DEV_ROOT_TOKEN_ID: root
      ROLE_ID: ${VAULT_ROLE_ID}
      SECRET_ID: ${VAULT_SECRET_ID}
    volumes:
      - ./deployment/vault:/scripts
    cap_add:
      - IPC_LOCK
    command: ['/scripts/start-dev.sh']

volumes:
  pgdata:
