version: '3'
services:
  traefik:
    image: traefik:v2.9
    command: --api.insecure=true --providers.docker --providers.docker.exposedByDefault=false --providers.docker.network=traefik --accesslog=true  --entryPoints.http.address=:80 --entryPoints.https.address=:443 --entryPoints.traefik.address=:8080
    ports:
      - "80:80"
      - "8080:8080"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - traefik

networks:
  traefik:
    external: true
