.root {
  display: flex;
  flex-direction: column;
  height: 100%;

  --padding-x: 22px;
  --bg-color: color-mix(in hsl, var(--color-neutral-50), transparent 44%);

  background-color: var(--bg-color);

  .header-container {
    .header {
      display: flex;
      justify-content: space-between;
      padding: 20px var(--padding-x);
      gap: 8px;
      background-color: var(--theme-background-primary);

      .user-menu-container {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }

    .sections-container {
      display: flex;
      justify-content: space-between;
      padding: 8px var(--padding-x);
      border-top: 1px solid var(--bg-color);
      background-color: var(--theme-background-primary);
    }
  }
}
