:root {
  --transition-duration: 0.15s;
  --box-shadow: 0px 4px 4px -4px rgb(12 12 13 / 50%), 0px 16px 32px -4px rgb(12 12 13 / 50%);
}

html {
  overscroll-behavior-x: none;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.scene-container {
  position: relative;
  height: 100%;
  overflow: hidden;

  &.scene-cursor {
    &,
    * {
      cursor: var(--scene-cursor) !important;
    }
  }

  .pixi-container {
    position: absolute;
    inset: 0;

    > canvas {
      display: block;
    }
  }

  .dom-container {
    position: absolute;
    inset: 0;
    transform-origin: 0% 0%;
    user-select: none;
    -webkit-user-select: none;

    /* This is used in order to force the browser (Safari in particular)
     * to draw a compositing layer for the dom-container. Otherwise when the dom-container
     * goes out of the viewport Safari starts drawing layers for every single item in the viewport
     * which causes crashes on iPhones
     */
    will-change: transform;
  }
}

.zoom-toolbar {
  position: absolute;
  bottom: 16px;
  right: 18px;
}
