.root {
  width: 500px;
  max-width: initial;

  :global(.modal-wrapper) {
    width: 100%;
  }
}

.description {
  margin: 16px 0 40px;
}

.imports-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-auto-rows: 32px;
  align-items: center;
  gap: 2px 8px;
}
