.root {
  height: 100%;
  background-color: var(--theme-overlay);

  .item-overlay {
    --border-width: calc(2px * var(--scale));

    all: unset;
    position: absolute;
    cursor: pointer;
    top: calc(var(--item-top) - 0.5 * var(--border-width));
    left: calc(var(--item-left) - 0.5 * var(--border-width));
    width: calc(var(--item-width) - 0.5 * var(--border-width));
    height: calc(var(--item-height) - 0.5 * var(--border-width));
    border: var(--border-width) solid var(--color-neutral-200);
    border-radius: 8px;

    &.selected {
      border-color: var(--color-success-100);
    }

    &:hover {
      border-color: var(--color-success-300);
    }

    .item-slot {
      --size: calc(30px * var(--scale));

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: var(--size);
      height: var(--size);
      border-radius: 50%;
      border: var(--border-width) solid var(--color-neutral-0);
      background-color: var(--color-neutral-200);
      display: flex;
      align-items: center;
      justify-content: center;

      :global(.typography) {
        color: var(--color-neutral-0);
        font-size: calc(16px * var(--scale));
      }
    }

    &:hover,
    &.selected {
      .item-slot {
        background-color: var(--color-success-300);
        border-color: var(--color-success-100);
      }
    }
  }
}
