.loader {
  height: 100%;
  display: grid;
  place-items: stretch;

  > * {
    grid-area: 1/1;
  }

  iframe {
    background-color: white;
    border: none;
  }
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-neutral-0);
  overflow: hidden;
}
