.add-api-key-dialog {
  video {
    width: 100%;
    display: block;
    border: 2px solid var(--theme-border-primary);
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 24px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .input {
      padding: 12px 16px;
    }

    .label-text {
      font-weight: 600;
    }
  }
}
