.scene-container {
  position: relative;
  height: 100%;
  overflow: hidden;

  &:global(.scene-cursor) {
    &,
    * {
      cursor: var(--scene-cursor) !important;
    }
  }

  :global(> .pixi-container) {
    position: absolute;
    inset: 0;

    > canvas {
      display: block;
    }
  }

  :global(> .dom-container) {
    position: absolute;
    inset: 0;
    transform-origin: 0% 0%;
    user-select: none;
    -webkit-user-select: none;

    /* This is used in order to force the browser (Safari in particular)
     * to draw a compositing layer for the dom-container. Otherwise when the dom-container
     * goes out of the viewport Safari starts drawing layers for every single item in the viewport
     * which causes crashes on iPhones
     */
    will-change: transform;
  }

  :global(#item-picker) {
    position: absolute;
    inset: 0;

    &:not(:has(*)) {
      display: none;
    }
  }
}

.main-toolbar {
  position: absolute;
  top: 16px;
  left: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: start;
  z-index: 1;
  pointer-events: none;
}

.users-data {
  position: absolute;
  top: 16px;
  right: 18px;
  z-index: 1;
  pointer-events: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.left-toolbar {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.bottom-toolbars {
  position: absolute;
  bottom: 16px;
  right: 18px;
  z-index: 1;
  display: flex;
  gap: 12px;
}

.offline-indicator {
  position: absolute;
  bottom: 16px;
  left: 24px;
}

.hidden {
  /* This used to be visiblity: hidden;, however it creates an extra drawing layer for Safari.
   * The display: none; works in conjunction with a `queueResize` invocation in PresentationOrderController::init,
   * otherwise the canvas is not properly sized
   */
  display: none;
}

:global(#titlebar-action-buttons) {
  display: flex;

  :global(.titlebar-action-done) {
    --bg-color: var(--color-success-300);
    --hover-bg-color: var(--color-success-400);
    --active-border-color: var(--color-success-500);

    gap: 8px;
  }
}
