.modal {
  overflow: visible;
  width: 95%;
  max-width: 560px;

  :global(.modal-wrapper) {
    width: 100%;
  }

  .header {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px 0;

    .input {
      padding: 12px 16px;
    }

    .label-text {
      font-weight: 600;
    }
  }

  .with-tooltip {
    position: relative;
    display: inline-block;
  }
}
