.root {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 20px 20px 33px;

  .message-input-wrapper {
    flex: 1;
    display: grid;
    position: relative;

    &::after {
      /* Space at the end prevents jumpy behavior */
      content: attr(data-value) ' ';
      visibility: hidden;
    }

    .message-input {
      background-color: var(--theme-background-neutral);
      color: var(--theme-text-primary);
      border-radius: 4px;

      &::placeholder {
        color: var(--theme-text-tertiary);
      }
    }

    &::after,
    .message-input {
      border: 0;
      padding: 12px 48px 12px 16px;
      font: inherit;
      grid-area: 1 / 1 / 2 / 2;
      max-height: 5em;
      overflow: hidden auto;
      scrollbar-width: none;
      white-space: pre-wrap;
      word-wrap: break-word;
    }

    &.with-end-adornment {
      &::after,
      .message-input {
        padding-right: 84px;
      }
    }

    --start-adornment-width: 48px;

    .start-adornment {
      position: absolute;
      left: 0;
      height: 100%;
      width: var(--start-adornment-width);
      padding: 6px 8px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &.with-start-adornment {
      &::after,
      .message-input {
        padding-left: var(--start-adornment-width);
      }
    }
  }

  .buttons {
    position: absolute;
    right: 8px;
    display: flex;
    gap: 8px;
  }
}
