.root {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--color-neutral-150);
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;

  .thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .icon {
    font-size: 80px;
  }
}
