.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  height: 200px;
  padding: 0 22px;

  :global(> .material-symbols-outlined) {
    color: var(--theme-text-tertiary);
    background-color: var(--theme-text-secondary-inverse);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }

  :global(.typography) {
    color: var(--theme-text-secondary);
  }
}
