.root {
  height: 100%;

  &.interactive {
    /* "Optimization" for Safari's layer drawing */
    overflow: auto;
  }

  /* Parent container for the error and loading components */
  /* stylelint-disable-next-line selector-class-pattern */
  :global(.react-pdf__message) {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  :global(.react-pdf__Page > .textLayer) {
    user-select: text;
  }

  /* Make page fill the document during load */
  /* stylelint-disable-next-line selector-class-pattern */
  :global(.react-pdf__Page:has(.react-pdf__message)) {
    height: 100%;
  }

  .go-to-top {
    position: absolute;
    bottom: 10px;
    right: 20px;
    z-index: 3;
  }
}

.placeholder {
  width: 100%;
  height: 100%;
  background-color: var(--color-neutral-0);
  align-items: center;
  justify-content: center;

  .thumbnail {
    object-position: top;
  }

  .overlay {
    position: absolute;
    color: var(--theme-icon-inverse);
    background-color: var(--theme-background-inverse);
    padding: 10px;
    border-radius: 4px;
  }
}

.loading-placeholder {
  position: absolute;
  inset: 0;

  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
