.multiselection {
  pointer-events: none;
  background-color: color-mix(in hsl, var(--theme-background-brand), transparent 90%);
  border: calc(1px * var(--border-scale)) solid
    color-mix(in hsl, var(--theme-background-brand), transparent 20%);
  box-sizing: border-box;

  &.group {
    border: calc(2px * var(--border-scale)) solid transparent;
    background-color: initial;
  }

  .drag-handle {
    width: 100%;
    height: 100%;
  }
}
