on: [push]
jobs:
  lint-all:
    runs-on: self-hosted
    if: >
      github.ref_name != 'main' &&
      github.ref_name != 'demo' &&
      !startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/checkout@v5
      - run: |
          docker run --rm $(docker build -q -f Dockerfile.ci .)
          docker system prune -af

  deploy-dev:
    runs-on: self-hosted
    environment: dev
    if: github.ref_name == 'main'
    steps:
      - uses: actions/checkout@v5
      - run: docker compose up -d --build
        env:
          COMPOSE_PROJECT_NAME: dev
          ENVIRONMENT_NAME: dev
          HOST: tapestries-dev

  build-aws-backend:
    runs-on: self-hosted
    environment: demo
    if: github.ref_name == 'demo'
    steps:
      - uses: actions/checkout@v5
      - run: ./deployment/docker/build-backend.sh

  deploy-aws-backend:
    runs-on: self-hosted
    environment: demo
    if: github.ref_name == 'demo'
    needs: [build-aws-backend]
    steps:
      - uses: actions/checkout@v5
      - run: ./deployment/docker/deploy-backend.sh

  deploy-aws-vault:
    runs-on: self-hosted
    environment: demo
    if: github.ref_name == 'demo'
    steps:
      - uses: actions/checkout@v5
      - run: ./deployment/docker/deploy-vault.sh

  build-and-deploy-aws-frontend:
    runs-on: self-hosted
    environment: demo
    if: github.ref_name == 'demo'
    steps:
      - uses: actions/checkout@v5
      - run: ./deployment/docker/build-and-deploy-frontend.sh
