on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy-dev:
    runs-on: self-hosted
    environment: dev
    steps:
      - uses: actions/checkout@v5
      - run: docker compose up -d --build
        env:
          COMPOSE_PROJECT_NAME: dev
          ENVIRONMENT_NAME: dev
          HOST: tapestries-dev
