on: [push]
jobs:
  build-aws-backend:
    runs-on: self-hosted
    environment: demo
    if: github.ref_name == 'demo'
    steps:
      - uses: actions/checkout@v5
      - run: ./deployment/docker/build-backend.sh

  deploy-aws-backend:
    runs-on: self-hosted
    environment: demo
    if: github.ref_name == 'demo'
    needs: [build-aws-backend]
    steps:
      - uses: actions/checkout@v5
      - run: ./deployment/docker/deploy-backend.sh

  deploy-aws-vault:
    runs-on: self-hosted
    environment: demo
    if: github.ref_name == 'demo'
    steps:
      - uses: actions/checkout@v5
      - run: ./deployment/docker/deploy-vault.sh

  build-and-deploy-aws-frontend:
    runs-on: self-hosted
    environment: demo
    if: github.ref_name == 'demo'
    steps:
      - uses: actions/checkout@v5
      - run: ./deployment/docker/build-and-deploy-frontend.sh
