.modal {
  /* The additional selector is used in order to have greater specificity than the modal's selectors */
  :global(&.modal),
  :global(.modal-content) {
    overflow: visible;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .attach-items {
      position: relative;
      padding-bottom: 6px;

      input {
        padding-right: 50px;
      }

      > button {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-15%);
      }
    }
  }

  .action-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
